<div class="widget-quickview">
    <p class = "widget-quickview-title" >
      Colleges
    </p>

 
    <button mat-icon-button matTooltip = "Add College" matTooltipPosition = "right" matTooltipClass = "tooltip" (click) = "addCollege()" >
        <i class="fa fa-plus fa-2x" aria-hidden="true"  ></i>
    </button>

    

    <div fxLayout.lg='row ' fxLayout.md='row' fxLayoutAlign.gt-md="space-between start"  fxLayoutGap="5%" fxLayoutGap.sm="25px" fxLayoutGap.xs="25px"   fxLayout = "column"  class = "widget-quickview-content" >
            
        

      <mat-card fxFlex = "50%" matTooltipPosition = "above" matTooltipClass = "tooltip" >
          <mat-card-header>
            Recent
          </mat-card-header>
          <mat-card-content>
              <mat-list  role="list">

                  <div  *ngFor = "let college of colleges ;  last as isLast " >
                      
                      <mat-list-item  role="listitem" (click) = "showCollege(college)" >
                        <span matLine >Name: Collge of {{college.name}}</span>
                        <span matLine >Headed By: {{college.head}}</span>
                      </mat-list-item>
                      <mat-divider *ngIf = "!isLast" ></mat-divider>
                  </div>
                  
              </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <mat-paginator [length]="100"  [pageSizeOptions]="[5]">
            </mat-paginator>
          </mat-card-actions>
      </mat-card>

      <mat-card fxFlex = "50%" matTooltipPosition = "above" matTooltipClass = "tooltip" >
          <mat-card-header>
            Deleted
          </mat-card-header>
          <mat-card-content>
              <mat-list  role="list">

                    <div  *ngFor = "let college of deletedColleges ;  last as isLast " >
                            
                        <mat-list-item  role="listitem" (click) = "showDeletedCollege(college)" >
                            <span matLine >Name: Collge of {{college.name}}</span>
                            <span matLine >Headed By: {{college.head}}</span>
                        </mat-list-item>
                        <mat-divider *ngIf = "!isLast" ></mat-divider>
                    </div>
                  
              </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <mat-paginator [length]="100"  [pageSizeOptions]="[5]">
            </mat-paginator>
          </mat-card-actions>
      </mat-card>
    
    </div>
    <hr>
</div>