<div fxLayout="row" fxLayoutAlign="space-between">
  <p mat-dialog-title>
    New School Year
  </p>
  



</div>
<form action="" #form="ngForm" (ngSubmit)="addSchoolYear(form,form.value.name)">
  <mat-dialog-content>



    <mat-form-field>
      <input matInput type="text" #name="ngModel" minlength="{{nameMxLength}}" (keypress)="checkInput($event)" required #nameLength
        maxlength="{{nameMxLength}}" name="name" ngModel [(ngModel)]="editName" placeholder="Base">
      <mat-hint>{{nameLength.value.length}} / {{nameMxLength}} </mat-hint>
      <mat-error *ngIf="name.invalid">
        <span *ngIf="name.errors.required">This is required!</span>
      </mat-error>

    </mat-form-field>
    <br>
    <span *ngIf="nameLength.value.length" >
      Output: {{form.value.name}} - {{outputName}}
    </span> 


  </mat-dialog-content>

  <mat-dialog-actions fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around" fxLayoutAlign.gt-md="end">
    <button mat-raised-button color="primary" type="submit">Register School Year</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </mat-dialog-actions>



</form>