<div class="widget-quickview">

  <p class="widget-quickview-title">
    Registrar
  </p>


  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="space-between center" fxLayoutGap="15px" fxLayoutGap.gt-sm="35px">

    <div fxFlex="25%" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <button mat-icon-button matTooltip="Add Registrar" (click)='addRegistrar()'  matTooltipPosition="right" matTooltipClass="tooltip">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      </button>
      <mat-checkbox (change)="toggleShowDeleted($event)">
        Show Deactivated Registrars
      </mat-checkbox>

    </div>
    <mat-form-field fxFlex="35%">
      <input type="search" matInput placeholder="Search">
    </mat-form-field>
    <mat-paginator length="142" pageSize="15"></mat-paginator>

  </div>






  <div fxLayout.gt-sm='row wrap ' fxLayoutAlign.gt-sm="start start" fxLayoutGap.sm="25px" fxLayoutGap="3%" fxLayoutGap.xs="25px" fxLayout="column"
    class="widget-quickview-content">

    <mat-card (click)="showRegistrar(registrar)" *ngFor="let registrar of registrars" fxFlex="30%" matTooltipPosition="above"
      class="grid-card" matTooltipClass="tooltip">
      <p>
        Full Name : {{registrar.last_name}}, &nbsp; {{registrar.first_name}} &nbsp; {{registrar.middle_name}}
      </p>
      <p>
        Email : {{registrar.email}}
      </p>

    </mat-card>
  </div>

  <div *ngIf="enableDeleted">
    <hr>
    <p>Deactivated Registrars</p>

    <div fxLayout.gt-sm='row wrap ' fxLayoutAlign.gt-sm="start start" fxLayoutGap.sm="25px" fxLayoutGap="3%"  fxLayoutGap.xs="25px" fxLayout="column"
      class="widget-quickview-content">

      <mat-card (click)="showDeletedRegistrar(registrar)" *ngFor="let registrar of deletedRegistrars" fxFlex="30%" matTooltipPosition="above"
        class="grid-card" matTooltipClass="tooltip">
        <p>
          Full Name : {{registrar?.last_name}}, &nbsp; {{registrar?.first_name}} &nbsp; {{registrar?.middle_name}}
        </p>
        <p>
          Email : {{registrar?.email}}
        </p>
      </mat-card>
    </div>
  </div>

  <hr>
</div>