@import '~@angular/material/theming';
mat-sidenav{
    
    width: 250px;
    ul{
        list-style-type: none;
        padding: 0;
        position: relative;
        margin-bottom: 35px;
        
        & > li{
           
            height: 150px;
            width: 100%;
            text-align: center;
            font-size: 25px;
            font-weight: 400;
            line-height: 100px; 
            padding: 25px;
            box-sizing: border-box;
            
        }
        a{
            text-decoration: none;
            outline: none;
            color:#999999;
        }
        a > li {
            
            
            width: 95%;
            padding: 25px;
            box-sizing: border-box;
            border-radius: 3px;
            margin:auto;
            

            
    
                
            
        }

        
    }
}



mat-sidenav-content{
    background-color: #e0e0e0 !important;
}

.index-container{
    padding:50px;
    padding-top: 85px;
    
}

.spacer{
    flex: 1 1 auto;
}

.user-menu-btn{
   box-shadow: 0 0 0 !important  ;
}

