<div class="widget-quickview">

  <p class="widget-quickview-title">
    Comelec
  </p>


  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="space-between center" fxLayoutGap="15px" fxLayoutGap.gt-sm="35px">

    <div fxFlex="25%" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <button (click)="addComelec()" mat-icon-button matTooltip="Add Comelec" matTooltipPosition="right" matTooltipClass="tooltip">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      </button>
      <mat-checkbox (change)="toggleShowDeleted()">
        Show Deleted Comelec Users
      </mat-checkbox>

    </div>

    <mat-form-field fxFlex="35%">
      <input type="search" matInput placeholder="Search">
    </mat-form-field>
    <mat-paginator length="142" pageSize="15"></mat-paginator>

  </div>






  <div fxLayout.gt-sm='row wrap ' fxLayoutAlign.gt-sm="start start" fxLayoutGap.sm="25px" fxLayoutGap="3%" fxLayoutGap.xs="25px"
    fxLayout="column" class="widget-quickview-content">

    <mat-card (click)="showComelec(comelec)" *ngFor="let comelec of comelecs" fxFlex="30%" matTooltipPosition="above" class="grid-card"
      matTooltipClass="tooltip">
      <p>
        Full Name : {{comelec.last_name}}, &nbsp; {{comelec.first_name}} &nbsp; {{comelec.middle_name}}
      </p>
      <p>
        Email : {{comelec.email}}
      </p>

    </mat-card>
  </div>

  <div *ngIf="enableDeleted">
    <hr>
    <p>Deleted Comelec Users</p>

    <div fxLayout.gt-sm='row wrap ' fxLayoutAlign.gt-sm="start start" fxLayoutGap.sm="25px" fxLayoutGap="3%" fxLayoutGap.xs="25px"
      fxLayout="column" class="widget-quickview-content">

      <mat-card (click)="showDeletedComelec(comelec)" *ngFor="let comelec of deletedComelecs" fxFlex="30%" matTooltipPosition="above" class="grid-card"
        matTooltipClass="tooltip">
        <p>
          Full Name : {{comelec.last_name}}, &nbsp; {{comelec.first_name}} &nbsp; {{comelec.middle_name}}
        </p>
        <p>
          Email : {{comelec.email}}
        </p>

      </mat-card>
    </div>
  </div>

  <hr>
</div>